<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="URL Shortener with Python Flask, Bootstrap, API Gateway, Lambda and DynamoDB">
  <meta name="author" content="Ruan Bekker">

  <title>{{ app_title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link href="http://flask.pocoo.org/docs/0.12/_static/flask-favicon.ico" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


</head>
<body>
 <div class="container">
    <div class="d-flex justify-content-center" id="titleRes" >
          <div class="jumbotron " style="background:transparent !important">
             <heading> <strong>{{ app_title }}</strong></heading>
          </div>
      </div>
      <div class="jumbotron">
        <hr class="my-4">
        <h1 class="display-4">Sarcasm Sentiment Analyser!</h1>
        <div class="container">
          <p class="lead"> {{ user_input }}</p>
          <p class="lead"> {{ sarcasm }}</p>
          <div class="progress mb-4">
            <div class="progress-bar bg-success" role="progressbar" style="width:{{confidence}}%" aria-valuenow="{{confidence}}" aria-valuemin="0" aria-valuemax="100">
                {{confidence}}%
            </div>
          </div>
        <form action="/" method="POST" role="form">
            <div class="btn-group-vertical" id="vertMenu">
                <button class="btn btn-info btn-lg" type="submit" name="return">New query</button>
            </div>
        </form>
        </div>
    </div>



 </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>